services:
  frontend:
    build: ./frontend1
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "9000:8000"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017
      MONGO_DB: productsdb

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
